* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

.texto-destacado, .contato span {
    font-style: italic;
    font-weight: 700;
}

.secao {
    padding: 120px 80px;
}

.banner {
    background-image: url('image/banner-topo.jpg');
    background-position: center;
    background-size: cover;
}

.secao .logo {

    max-width: 250px;
    color: #3c184e;
}

.logo, .nome-logo {
    font-size: 35px;
    margin: 0 0 5px 0;
}

.logo img {
    width: 30px;
    margin-right: 5px;
}

.logo .texto-logo {
    font-size: 14px;
    text-align: center;
    margin: 0;
}

.secao .container {
    background: #ffffffc4;
    max-width: 1024px;
    border-radius: 10px;
    padding: 40px;
    margin: 70px auto 0 auto;
    box-shadow: 0 8px 32px #1f26875e;
}

.container h1 {
    font-size: 60px;
    color: #3c184e;
    text-align: center;
    font-weight: 800;
    margin: 0 0 40px 0;
}

.container p {
    width: 200px;
    padding: 10px 25px;
    margin: 0 auto;
    border-radius: 10px;
    background: #3c184e;
    font-size: 20px;
    text-align: center;
}

.container a {
    color: #fff;
}

.container img {
    width: 20px;
}

.servicos {
    width: 100%;
    padding: 120px 80px;
}

.servicos h3 {
    font-size: 36px;
    color: #3c184e;
    text-align: center;
    margin: 0 0 45px 0;
}

.secao-servicos {
    max-width: 800px;
    margin: 0 auto 50px auto;
    color: #3c184e;
}

.servicos li {
    font-size: 20px;
    margin: 0 0 20px 0;
}


.img-servicos {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.img-servicos img {
    border-radius: 5px;
    box-shadow: 3px 6px 10px 6px  #0000005c;
}

.contato {
    padding: 120px 80px;
    background-color: #3c184e;
    text-align: center;
}

.contato p {
    max-width: 800px;
    margin: 0 auto 50px auto;
    font-size: 40px;
    color: #fff;
    text-align: center;
}

.contato a {
    margin: 0 20px;
}

.contato img {
    width: 50px;
}

.marcas {
    width: 100%;
    padding: 120px 80px;
}

.marcas h3 {
    font-size: 36px;
    color:  #3c184e;
    text-align: center;
    margin: 0 0 45px 0;
}

.img-marcas {
    max-width: 800px;
    margin: 0 auto;
}

.img-marcas img {
    width: 148px;
    height: 148px;
    margin: 0 15px;
}

.localizacao {
    width: 100%;
    padding: 120px 80px;
    text-align: center;
}

.localizacao h3 {
    font-size: 36px;
    color: #3c184e;
    text-align: center;
    margin: 0 0 45px 0;
}

.localizacao p {
    font-size: 20px;
    color: #3c184e;
    text-align: center;
    margin: 0 0 45px 0;
}

iframe {
    width: 800px;
    height: 450px;
}

.rodape {
    width: 100%;
    padding: 10px 0;
    background-color: #3c184e;
}

.rodape p {
    color: #fff;
    font-size: 12px;
    text-align: center;
}
